body {
  background-color: rgb(25,25,25);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

p{
  white-space: nowrap;
}

select{
  float: right;
  text-align: center;
  background-color: white;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  padding: .1em 0.1em .1em 0.1em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,0.25);
  border-radius: .5em;
  border: 2px solid #222222;
}
select:hover{
  border-color: #888888;
}
select:focus{
  border-color: #888888;
  outline: none;
}

option{
  font-weight: 600;
}

.checkbox{
  color: white;
  white-space: nowrap;
}

#divCanvas{
  position: relative;
  z-index: 0;
}

#divUI{
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 0.25%;
  width: 100%;
}

#divFreqSld{
  display: flex;
  position: relative;
  z-index: 3;
  background-image: linear-gradient(to right, red 50%, blue 50%);
  margin-top: -0.5%;
  margin-bottom: 0.75%
}

#divFreqSld .ui-slider-range { background: #00ff00; }

#handle1 {
  width: 1.25em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  color: black;
  box-shadow: 0px 0px 10px black;
}
#handle2 {
  width: 1.25em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  color: black;
  box-shadow: 0px 0px 10px black;
}
.slider-text{
  background-color: rgba(0,0,0,0.8);
  color: white;
  margin-top: -5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#divOptions {
  display: grid;
  grid-template-columns: auto minmax(130px, 25%) auto 27.5%;
  grid-column-gap: 1%;
  grid-template-rows: auto;
}

#checkBoxes{
  border: solid;
}

#divMusicBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid;
}

#variableSliders{
  display: relative;
  border: solid;
}
.sldOption{
  margin-top: -0.5%;
  display: relative;
  float: right;
}

#SACselectors{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid;
}

.lblSel{
  display: flex;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.lblSAC{
  color: white;
  margin: 0px;
  margin-top: 0px;
  padding-top: 2px;
  padding-right: 5px;
  margin-right: 1%;
  width: 80px;
  text-align: right;
}

.lowFreq{
  color: white;
  background-color: rgb(200,0,0);
}
.medFreq{
  color: black;
  background-color: rgb(0,200,0);
}
.hiFreq{
  color: white;
  background-color: rgb(0,0,200);
}
